@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
}

.hero {
    background-image: url("../assets/hotpot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
}

.hero .inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero button {
    font: inherit;
    border: none;
    outline: none;
    padding: 20px 35px;
    font-weight: 700;
    border-radius: 15px;
}

.hero h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 8rem;
    font-weight: 700;
}