@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
}

.hero {
    background-image: url("../assets/hotpot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80dvh;
}