@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

:root {
    --primary-clr: hsl(356, 89%, 45%);
    --light-clr: #FFF5F1;
    --dark-clr: #3A001E;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: var(--light-clr);
    width: 100dvw;
}

section {
    padding: 15px 0;
    width: 100%;
}

.hero {
    background-image: url("../assets/hotpot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80dvh;
    max-width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero .inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
    font-weight: 700;
    color: white;
    text-shadow: 3px 5px 2px var(--primary-clr);
}

.hero .cta {
    font: inherit;
    border: none;
    outline: none;
    padding: 18px 50px;
    font-weight: 700;
    border-radius: 15px;
    background-color: var(--primary-clr);
    color: white;
}

section.about {
    width: 55%;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.about p {
    line-height: 1.5rem;
}