@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --light-clr: #fff7f5;
    --dark-clr: hsl(329, 100%, 11%);
    --accent-clr: hsl(356, 89%, 45%);
    --light-pink-clr: #ffd5cc;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: var(--light-clr);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    padding: 25px 10px;
    color: var(--light-pink-clr);
}

.logo img {
    width: 120px;
}

nav {
    display: flex;
    gap: 30px;
}

nav button {
    background: transparent;
}

/* hero */
.hero {
    height: max(80dvh, 750px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--dark-clr);
    color: var(--light-pink-clr);
}

.hero .grid {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3fr 1fr 3fr;
    gap: 30px;
}

.hero h1 {
    font-size: 3rem;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.hero p {
    text-align: right;
    grid-column: 6 / -1;
    grid-row: 1 / 2;
}

.hero .cta {
    font: inherit;
    border: none;
    outline: none;
    padding: 18px 50px;
    font-weight: 700;
    border-radius: 15px;
    background-color: var(--primary-clr);
    color: white;
}

.hero .cta:hover {
    filter: brightness(1.05);
}

.hero .cta:active {
    filter: brightness(.98);
    transform: scale(.99);
}


/* main section */

main {
    width: 100%;
    text-wrap: pretty;
}

h2 {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: 500;
}



section.about,
section.menu {
    width: 55%;
    margin: 0 auto;
    padding: 15px 0;
}

.about p {
    line-height: 1.5rem;
}