@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --light-clr: #fff7f5;
    --dark-clr: hsl(329, 100%, 11%);
    --accent-clr: hsl(356, 89%, 45%);
    --light-pink-clr: #ffd5cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: var(--light-clr);
    text-wrap: pretty;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    padding: 25px 10px;
    color: var(--light-clr);
}

.logo img {
    width: 120px;
}

nav {
    display: flex;
    gap: 30px;
}

nav button {
    background: transparent;
}

/* hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: var(--dark-clr);
    color: var(--light-pink-clr);
}

.hero .flex {
    width: 950px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hero .text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.hero h1 {
    flex: 2;
    font-size: 3rem;
    line-height: 4.2rem;
    margin: 0;
}

.hero p {
    flex: 1;
    line-height: 1.8rem;
    text-align: right;
}

.hero .cta-container {
    width: 100%;
}

.hero .cta {
    border: none;
    outline: none;
    padding: 18px 50px;
    font-weight: 700;
    border-radius: 50px;
    background-color: var(--accent-clr);
    color: white;
    text-wrap: nowrap;
}

.hero .cta:hover {
    filter: brightness(1.05);
}

.hero .cta:active {
    filter: brightness(.98);
    transform: scale(.99);
}

.hero figure {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
}

.hero figure img {
    flex: 1;
    border-radius: 50px;
    border: 5px solid var(--light-pink-clr);
}

.hero .centre {
    flex: 3;
}

/* main section */
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--dark-clr);
}

#steps,
#locations {
    width: 950px;
    margin: 0 auto;
    padding: 50px 10px 90px 10px;
}

#steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#steps>.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 20px;
}

#steps .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.75rem;
    gap: 20px;
}

#steps .step:not(:last-child) {
    border-right: 3px solid var(--light-pink-clr);
}

#steps .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    gap: 25px;
}

#steps img {
    width: 65px;
}

#locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#locations>.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
}

#locations .card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#locations h3 {
    text-align: center;
    color: var(--accent-clr);
}

#locations .location-photo {
    width: 100%;
}

#locations .card .row {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 15px;
    justify-content: space-between;
}

#locations .icon {
    width: 50px;
}