@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

:root {
    --primary-clr: hsl(356, 89%, 45%);
    --light-clr: #FFF5F1;
    --dark-clr: #3A001E;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: var(--light-clr);
}

/* header */



/* main section */

main {
    width: 100%;
    text-wrap: pretty;
}

h2 {
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: 500;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.hero {
    background-image: linear-gradient(185deg, hsla(356, 89%, 45%, 40%), hsla(329, 100%, 11%, 35%));
    background-repeat: no-repeat;
    background-size: cover;
    height: max(80dvh, 750px);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero .inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 3px 3px hsl(0, 0%, 35%);
}

.hero .cta {
    font: inherit;
    border: none;
    outline: none;
    padding: 18px 50px;
    font-weight: 700;
    border-radius: 15px;
    background-color: var(--primary-clr);
    color: white;
    box-shadow: 4px 4px 0 1px hsl(0, 79%, 80%);
}

.hero .cta:hover {
    filter: brightness(1.05);
}

.hero .cta:active {
    filter: brightness(.98);
    transform: scale(.99);
}

section.about,
section.menu {
    width: 55%;
    margin: 0 auto;
    padding: 15px 0;
}

.about p {
    line-height: 1.5rem;
}